*{
  box-sizing: border-box;
  margin: 0%;
}

.container{
  text-align: center;
  background-color: antiquewhite;
  padding: 6%;
  margin: 70px;
  display: flex;
  flex-direction: column;
  gap:18px;
}
.output{
  background-color: rgb(194, 120, 120);
  color: bisque;
}
.btn{
  padding: 10px;
  margin: auto;
  background-color: rgb(194, 120, 120);
  color: bisque;
}